body {
background: black;
color: white;
font-family: Arial;
}

.chat {
width: 400px;
margin: auto;
margin-top: 50px;
}

#chat {
height: 400px;
overflow-y: scroll;
border: 1px solid gray;
padding: 10px;
}
