body {
  background: #0f172a;
  font-family: Arial;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  width: 400px;
  height: 600px;
  background: #020617;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#chat {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  margin: 5px 0;
}

.user {
  color: #38bdf8;
}

.bot {
  color: #22c55e;
}

.input-area {
  display: flex;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
  background: #22c55e;
  border: none;
}
